# 6/20: API Data Collection - 6/2017 through 6/2018 data

In [1]:
#import libraries
import io
import time
import requests
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
#set up api request
urlbase = 'https://s3-us-west-1.amazonaws.com//files.airnowtech.org/airnow'
urlfilename = 'reportingarea.dat'

#df columns from factsheet
    #https://docs.airnowapi.org/docs/ReportingAreaFactSheet.pdf
reporting_data_columns = ['issue date', 'valid date', 'valid time', 'time zone', 'record sequence', 'data type',
                          'primary', 'reporting area', 'state code', 'latitude', 'longitude', 'pollutant',
                          'AQI value', 'AQI category', 'action day', 'discussion', 'forecast source']

# Individual request by day

In [4]:
#request content for today
year = '2018'
month = 6
day = 20

urldate = str(year) + str(month).zfill(2) +str(day).zfill(2)
print(urldate)

s = requests.get(urlbase+'/'+str(year)+'/'+urldate+'/'+urlfilename).content
print(urlbase+'/'+str(year)+'/'+urldate+'/'+urlfilename)
#print(s)

air_data_today = pd.read_csv(io.StringIO(s.decode()), sep='|', names=reporting_data_columns)
air_data_today['urldate'] = urldate
air_data_today.shape

20180620
https://s3-us-west-1.amazonaws.com//files.airnowtech.org/airnow/2018/20180620/reportingarea.dat

(5379, 18)

In [5]:
air_data_today['issue date'].value_counts()

06/20/18    3935
06/21/18     688
06/19/18     364
06/18/18     317
06/17/18      75
Name: issue date, dtype: int64

In [6]:
#request content for yesterday
year = '2018'
month = 6
day = 19

urldate = str(year) + str(month).zfill(2) +str(day).zfill(2)
print(urldate)

s = requests.get(urlbase+'/'+str(year)+'/'+urldate+'/'+urlfilename).content
print(urlbase+'/'+str(year)+'/'+urldate+'/'+urlfilename)

air_data_yesterday = pd.read_csv(io.StringIO(s.decode()),sep='|', names=reporting_data_columns)
air_data_yesterday['urldate'] = urldate
air_data_yesterday.shape

20180619
https://s3-us-west-1.amazonaws.com//files.airnowtech.org/airnow/2018/20180619/reportingarea.dat

(5416, 18)

In [7]:
air_data_yesterday['issue date'].value_counts()

06/19/18    3806
06/18/18     809
06/20/18     669
06/17/18     106
06/15/18      14
06/16/18      12
Name: issue date, dtype: int64

In [8]:
#append content into one df
air_data_2days = pd.concat([air_data_today, air_data_yesterday], axis=0, ignore_index=True)

In [9]:
#check df
air_data_2days.head()
air_data_2days.shape

(10795, 18)

In [10]:
#request content for lookback date: 1/2/2018
year = "2018"
month = 1
day = 2

urldate = str(year) + str(month).zfill(2) +str(day).zfill(2)
print(urldate)

s = requests.get(urlbase+'/'+str(year)+'/'+urldate+'/'+urlfilename).content
print(urlbase+'/'+str(year)+'/'+urldate+'/'+urlfilename)

air_data_lookback = pd.read_csv(io.StringIO(s.decode()),sep='|', names=reporting_data_columns)
air_data_lookback['urldate'] = urldate
air_data_lookback.shape

20180102
https://s3-us-west-1.amazonaws.com//files.airnowtech.org/airnow/2018/20180102/reportingarea.dat

(4266, 18)

In [11]:
air_data_lookback.head()
air_data_lookback['issue date'].value_counts()

01/02/18    3535
01/03/18     475
01/01/18     245
12/30/17       6
12/29/17       4
12/28/17       1
Name: issue date, dtype: int64

In [4]:
#function to request content
def get_reportingarea_data(day, month=6, year=2018):
    urldate = str(year) + str(month).zfill(2) +str(day).zfill(2)
    urlfilename = 'reportingarea.dat'
    s = requests.get(urlbase+'/'+str(year)+'/'+urldate+'/'+urlfilename).content
    air_data_daily = pd.read_csv(io.StringIO(s.decode()),sep='|', names=reporting_data_columns)
    air_data_daily['urldate'] = urldate
    return air_data_daily

In [13]:
get_reportingarea_data(8, month = 1, year = 2017).head(1)

,issue date,valid date,valid time,time zone,record sequence,data type,primary,reporting area,state code,latitude,longitude,pollutant,AQI value,AQI category,action day,discussion,forecast source,urldate
0,01/08/17,01/07/17,NaN,PST,-1,Y,Y,Aberdeen,WA,46.9725,-123.8317,PM2.5,20.0,Good,No,NaN,Olympic Region Clean Air Agency,20170108

# Request by week

In [14]:
#function to aggregate content over past week: 6/14-6/21 (inclusive of today, 6/20)
air_data_week = None
air_data_holder = None
year=2018
month=6

for day in np.arange(14, 21):
    reporting_data = get_reportingarea_data(day, month=month, year=year)
    #print(day, reporting_data.shape)
    if day == 13:
        air_data_week = pd.concat([air_data_holder, reporting_data], axis=0, ignore_index=True)
    else:
        air_data_week = pd.concat([air_data_week, reporting_data], axis=0, ignore_index=True)
    #print(day, air_data_week.shape)

In [15]:
#check df shape
air_data_week[air_data_week['urldate'] == '20180614'].shape
air_data_week.shape

(37938, 18)

In [16]:
air_data_week[air_data_week['urldate'] == '20180618'].head(1)

,issue date,valid date,valid time,time zone,record sequence,data type,primary,reporting area,state code,latitude,longitude,pollutant,AQI value,AQI category,action day,discussion,forecast source,urldate
21535,06/18/18,06/17/18,NaN,PDT,-1,Y,Y,Aberdeen,WA,46.9725,-123.8317,PM2.5,25.0,Good,No,NaN,Olympic Region Clean Air Agency,20180618

# Request by month

In [17]:
#aggregate content over past mth: 6/1-6/21 (inclusive of today, 6/20)
air_data_month = None
air_data_holder = None
year=2018
month=6

for day in np.arange(1, 21):
    reporting_data = get_reportingarea_data(day, month=month, year=year)
    #print(day, reporting_data.shape)
    if day == 1:
        air_data_total = pd.concat([air_data_holder, reporting_data], axis=0, ignore_index=True)
    else:
        air_data_total = pd.concat([air_data_total, reporting_data], axis=0, ignore_index=True)
    #print(day, air_data_total.shape)

In [18]:
#check df shape
air_data_total[air_data_total['urldate'] == '201806010'].shape
air_data_total.shape

(108415, 18)

In [19]:
air_data_total[air_data_total['urldate'] == '20180619'].head(1)

,issue date,valid date,valid time,time zone,record sequence,data type,primary,reporting area,state code,latitude,longitude,pollutant,AQI value,AQI category,action day,discussion,forecast source,urldate
97620,06/19/18,06/18/18,NaN,PDT,-1,Y,Y,Aberdeen,WA,46.9725,-123.8317,PM2.5,28.0,Good,No,NaN,Olympic Region Clean Air Agency,20180619

# Request by multiple months

In [5]:
#aggregate content over past year: 1/1-6/21 (inclusive of today, 6/20)
air_data_2018 = None
air_data_holder = None
year = 2018

for month in range(1, 7):
    #print(month)
    for day in np.arange(1, 32):
        reporting_data = get_reportingarea_data(day, month=month, year=year)    
        if (month == 1 and day == 1):
            air_data_2018 = pd.concat([air_data_holder, reporting_data], axis=0, ignore_index=True)
        else:
            air_data_2018 = pd.concat([air_data_2018, reporting_data], axis=0, ignore_index=True)
    time.sleep(1)
    #print(month, air_data_2018.shape)

In [7]:
#check df shape
print(air_data_2018[air_data_2018['urldate'] == '20180231'].shape)
air_data_2018.shape

(2, 18)

(892054, 18)

In [10]:
air_data_2018[air_data_2018['urldate'] == '20180430'].head(2)
#air_data_2018

,issue date,valid date,valid time,time zone,record sequence,data type,primary,reporting area,state code,latitude,longitude,pollutant,AQI value,AQI category,action day,discussion,forecast source,urldate
556545,04/30/18,04/29/18,NaN,PDT,-1.0,Y,Y,Aberdeen,WA,46.9725,-123.8317,PM2.5,22.0,Good,No,NaN,Olympic Region Clean Air Agency,20180430
556546,04/30/18,04/30/18,21:00,PDT,0.0,O,Y,Aberdeen,WA,46.9725,-123.8317,PM2.5,23.0,Good,No,NaN,Olympic Region Clean Air Agency,20180430

In [11]:
#Q: how to handle months with different days --> can remove all error rows after
air_data_2018[air_data_2018['urldate'] == '20180431'].head(2)

,issue date,valid date,valid time,time zone,record sequence,data type,primary,reporting area,state code,latitude,longitude,pollutant,AQI value,AQI category,action day,discussion,forecast source,urldate
561873,"<?xml version=""1.0"" encoding=""UTF-8""?>",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20180431
561874,<Error><Code>NoSuchKey</Code><Message>The spec...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20180431

In [6]:
#aggregate content over latter half of 2017: 6/1-12/31/2017
air_data_2017 = None
air_data_holder = None
year = 2017

for month in range(6, 13):
    #print(month)
    for day in np.arange(1, 32):
        reporting_data = get_reportingarea_data(day, month=month, year=year)    
        if (month == 6 and day == 1):
            air_data_2017 = pd.concat([air_data_holder, reporting_data], axis=0, ignore_index=True)
        else:
            air_data_2017 = pd.concat([air_data_2017, reporting_data], axis=0, ignore_index=True)
    time.sleep(0.5)
    #print(month, air_data_2017.shape)

In [12]:
#check df shape
print(air_data_2017[air_data_2017['urldate'] == '20171010'].shape)
air_data_2017.shape

(5363, 18)

(1054013, 18)

In [13]:
air_data_2017[air_data_2017['urldate'] == '20171010'].head(2)
#air_data_2017.head(10)

,issue date,valid date,valid time,time zone,record sequence,data type,primary,reporting area,state code,latitude,longitude,pollutant,AQI value,AQI category,action day,discussion,forecast source,urldate
677932,10/10/17,10/09/17,NaN,PDT,-1.0,Y,Y,Aberdeen,WA,46.9725,-123.8317,PM2.5,20.0,Good,No,NaN,Olympic Region Clean Air Agency,20171010
677933,10/10/17,10/10/17,21:00,PDT,0.0,O,Y,Aberdeen,WA,46.9725,-123.8317,PM2.5,24.0,Good,No,NaN,Olympic Region Clean Air Agency,20171010

# Aggregate dfs

In [14]:
#aggregate 2017 and 2018 data
air_data_total = pd.concat([air_data_2017, air_data_2018], axis=0, ignore_index=True)

#drop rows where month_date does not exist
air_data_total = air_data_total[air_data_total['issue date'] != '<?xml version="1.0" encoding="UTF-8"?>']
air_data_total.shape

(1946059, 18)

In [15]:
#save to_csv - too large for github
air_data_total.to_csv('../Data/data.csv')

In [16]:
air_data_total.head(5)

,issue date,valid date,valid time,time zone,record sequence,data type,primary,reporting area,state code,latitude,longitude,pollutant,AQI value,AQI category,action day,discussion,forecast source,urldate
0,06/01/17,05/31/17,NaN,PDT,-1.0,Y,Y,Aberdeen,WA,46.9725,-123.8317,PM2.5,11.0,Good,No,NaN,Olympic Region Clean Air Agency,20170601
1,06/01/17,06/01/17,21:00,PDT,0.0,O,Y,Aberdeen,WA,46.9725,-123.8317,PM2.5,10.0,Good,No,NaN,Olympic Region Clean Air Agency,20170601
2,05/31/17,06/01/17,NaN,EDT,1.0,F,Y,Adirondacks Region,NY,43.9700,-74.1600,OZONE,35.0,Good,No,NaN,New York Dept. of Environmental Conservation,20170601
3,05/31/17,06/01/17,NaN,EDT,1.0,F,N,Adirondacks Region,NY,43.9700,-74.1600,PM2.5,15.0,Good,No,NaN,New York Dept. of Environmental Conservation,20170601
4,06/02/17,06/01/17,NaN,EDT,-1.0,Y,Y,Adirondacks Region,NY,43.9700,-74.1600,OZONE,43.0,Good,No,NaN,New York Dept. of Environmental Conservation,20170601

# Load to PostgreSQL server

In [18]:
#returned error

#engine = create_engine('postgres://postgres:password@54.212.206.241:5432/postgres')
#air_data_total.to_sql('epa_data', engine, if_exists = 'append', index=False, chunksize = 10000)

In [53]:
data = pd.read_sql_query('SELECT * FROM epa_data', engine)
data

Empty DataFrame
Columns: [issue date, valid date, valid time, time zone, record sequence, data type, primary, reporting area, state code, latitude, longitude, pollutant, AQI value, AQI category, action day, discussion, forecast source, urldate]
Index: []

# Request by year: Timeout error --> ran separately in next notebook

#aggregate content over past 12 mths: 6/1/2017-6/21/2018 (inclusive of today, 6/20)

air_data_total = None
air_data_holder = None

for year in [2017, 2018]:
    print(year)
    if year == 2017:
        for month in range(6, 13):
            print(month)
            for day in np.arange(1, 32):
                reporting_data = get_reportingarea_data(day, month=month, year=year)    
                if (month == 6 and day == 1):
                    air_data_total = pd.concat([air_data_holder, reporting_data], axis=0, ignore_index=True)
                else:
                    air_data_total = pd.concat([air_data_total, reporting_data], axis=0, ignore_index=True)
                print(month, day)
            time.sleep(10)
    else:
        print(year)
        for month in range(1, 7):
            print(month)
            for day in np.arange(1, 32):
                air_data_total = pd.concat([air_data_total, reporting_data], axis=0, ignore_index=True)
            time.sleep(10)
    print(year, air_data_total.shape)

#check df shape

air_data_total[air_data_total['urldate'] == '20171008'].shape
air_data_total.shape